---
import { Image } from 'astro:assets';
const { title, url, page, img, date, date1945, description, tags} = Astro.props;
const link = url.slice(33, 38);
const lastEdit = date.slice(0,10);
---

<div>
  <div>

    <div>
      <div class="date1945">{date1945}</div>
      <a class="title" href={`/festung-breslau/blog/${link}`}><br />
        <h3>{title}</h3>
      </a>
      <p>Aktualizacja: {lastEdit}</p>
      <div class="description-image">
        <img src={img} alt={title} width="200">
        <p>{description}</p>
      </div>
      <p class="postsummarytags">Tagi: {tags}</p>
      <p class="postsummarylink">Cały wpis: <a href={`/festung-breslau/blog/${link}`}>"{title}"</a></p>
    </div>
  </div>
</div>