---
import bibliography from '../content/json/bibliography.json';
---

<h4>Saksonia</h4>

<ul class="bibliography">
    {bibliography.sachsen.map(({author, title, publisher, yearOfPublication, pages, ISBN, add})=>(<li>{author} <strong>"{title}"</strong>;<br />
    <span>{publisher} {yearOfPublication}, stron {pages}{ISBN ? `, ISBN: ${ISBN}` : null}; {add}</span></li>))}
</ul>

<h4>Drezno</h4>

<ul class="bibliography">
    {bibliography.sachsen_dresden.map(({author, title, publisher, yearOfPublication, pages, ISBN, add})=>(<li>{author} <strong>"{title}"</strong>;<br />
    <span>{publisher} {yearOfPublication}, stron {pages}{ISBN ? `, ISBN: ${ISBN}` : null}; {add}</span></li>))}
</ul>

<h4>Górne Łużyce</h4>

<ul class="bibliography">
    {bibliography.sachsen_oberlausitz.map(({author, title, publisher, yearOfPublication, pages, ISBN, add})=>(<li>{author} <strong>"{title}"</strong>;<br />
    <span>{publisher} {yearOfPublication}, stron {pages}{ISBN ? `, ISBN: ${ISBN}` : null}; {add}</span></li>))}
</ul>

<h4>Szwajcaria Saksońska</h4>

<ul class="bibliography">
    {bibliography.sachsen_schweiz.map(({author, title, publisher, yearOfPublication, pages, ISBN, add})=>(<li>{author} <strong>"{title}"</strong>;<br />
    <span>{publisher} {yearOfPublication}, stron {pages}{ISBN ? `, ISBN: ${ISBN}` : null}; {add}</span></li>))}
</ul>

<h4>Inne</h4>

<ul class="bibliography">
    {bibliography.sachsen_andere.map(({author, title, publisher, yearOfPublication, pages, ISBN, add})=>(<li>{author} <strong>"{title}"</strong>;<br />
    <span>{publisher} {yearOfPublication}, stron {pages}{ISBN ? `, ISBN: ${ISBN}` : null}; {add}</span></li>))}
</ul>