---
import bibliography from '../content/json/bibliography.json';
---

<ul class="bibliography">
    {bibliography.additional.map(({author, title, publisher, yearOfPublication, pages, ISBN, add})=>(<li>{author} <strong>"{title}"</strong>;<br />
    <span>{publisher} {yearOfPublication}, stron {pages}{ISBN ? `, ISBN: ${ISBN}` : null};<br />{add}</span></li>))}
</ul>
