---
import BaseLayout from "./BaseLayout.astro";
import ButtonToggleLD from '../components/ButtonToggleLD.astro';
import PrevNext from '../components/LangnerPrevNext.astro'
import '../styles/langner.css'
const { frontmatter } = Astro.props;
const ogimage = '/fbimages/langner-header1.jpg'
const chapterTitle = frontmatter && frontmatter.title ? ' - ' + frontmatter.title : '';
const pageTitle = `Maria Langner "Ostatni bastion"${chapterTitle}`
const description = frontmatter && frontmatter.description ? frontmatter.description : "Wspomnienia z więzienia Gestapo we Wrocławiu - 1945";
const numberForComponent = Number(Astro.url.href.slice(36,37))
---
<BaseLayout img={ogimage} title={pageTitle} description={description}>
    <header>
        <nav><a href="/">Strona główna dygresje.info</a></nav>
        <ButtonToggleLD />
        <h1><a href="/maria-langner">Maria Langner <span>"Ostatni bastion"</span></a></h1></header>
    <main>
        <aside>
            <h3>Impressum</h3>
            <p class="impressum">Wspomnienia politycznej więźniarki wrocławskiego Gestapo z czasu bitwy o Wrocław.<br />
                Wydane w NRD w 1948.<br />
                Książka jest dodatkiem do bloga wojennego <a href="/festung-breslau">Festung&nbsp;Breslau&nbsp;1945 täglich</a>
                </p>

            <h3>Menu</h3>
          <nav>
            <ul>
                <li><a href="/maria-langner">Maria Langner "Ostatni bastion"</a></li>
                <li><a href="/maria-langner/maria-langner">Maria Lagner</a> o autorce</li>
                <li><a href="/maria-langner/ostatni-bastion">Ostatni bastion</a> o książce</li>
            </ul>
            </nav>
        </aside>
        <article>
            {frontmatter && frontmatter.title ? <h2>{frontmatter.title}</h2>: null}
        <slot />
           {frontmatter && frontmatter.description ?  <PrevNext number={numberForComponent} /> : null}
        </article>
    </main>
    <footer>

        <p><a href="/maria-langner">Maria Langner "Ostatni bastion"</a></p>
        <p><a href="/">dygresje.info</a> | <a href="/festung-breslau">Festung Breslau 1945 täglich</a></p>
        
    </footer>
</BaseLayout>